@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "partials/params";
@import "partials/mixins";

body {
  @include clear();
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: $main-text-color;
}

h1, h2, h3, h4, h5, h6, p {
  @include clear();
  font-weight: 400;
  color: $main-text-color;
}

ul {
  @include clear-list();
}


